<div *ngIf="!this.loadingPago">
  <div id="invoice">
    <div id="printSectionId" class="invoice overflow-auto">
      <div style="min-width: 600px">
        <header>
          <div class="row">
            <div class="col">
              <img *ngIf="this._dataService.ayuntamiento['img']"
                   [src]="this._dataService.ayuntamiento['img']['xxhdpi'] | imageNav" width="auto" height="100"
                   class="d-inline-block align-top" data-holder-rendered="true" alt="">
            </div>
            <div class="col company-details">
              <h2 class="name">
                  <span *ngIf="this._dataService.ayuntamiento['idioma']">
                    {{this._dataService.ayuntamiento['idioma'][this._dataService.activeLang]['nombre_ayuntamiento'] | uppercase}}
                  </span>
              </h2>
              <div>
                <span *ngIf="this._dataService.ayuntamiento['direccion_ayuntamiento']">
                  {{this._dataService.ayuntamiento['direccion_ayuntamiento']}}
                </span>
              </div>
            </div>
          </div>
        </header>
        <main>
          <div class="row contacts">
            <div class="col invoice-to">
              <div class="text-gray-light"></div>
              <h2 class="to">{{this.nombreDocumento}}</h2>
              <div class="address"></div>
              <div class="email"><a *ngIf="this._dataService.ayuntamiento['email']"
                                    href="mailto:{{this._dataService.ayuntamiento['email']}}"><span>
                  {{this._dataService.ayuntamiento['email']}}
                </span></a></div>
            </div>
            <div class="col invoice-details">
              <div class="date">{{"pago.fechaPago" | translate}}: {{this.fechaDocumento}}</div>
            </div>
          </div>
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
              <th class="text-right"></th>
              <th class="text-left">{{"pago.envio" | translate}}</th>
            </tr>
            </thead>
            <tbody *ngFor="let parametro of paramentros | keyvalue">
            <tr *ngIf="parametro.key == 'codbar'">
              <td class="text-left">
                <h3>
                  <a target="_blank" href="#">
                    {{"general.codigoBarras" | translate}}
                  </a>
                </h3>
              </td>
              <td class="total">{{parametro.value}}</td>
            </tr>
            <tr *ngIf="parametro.key == 'emisora'">
              <td class="text-left">
                <h3>
                  <a target="_blank" href="#">
                    {{"general.entidad" | translate}}
                  </a>
                </h3>
              </td>
              <td class="total">{{parametro.value}}</td>
            </tr>
            <tr *ngIf="parametro.key == 'identificacion'">
              <td class="text-left">
                <h3>
                  <a target="_blank" href="#">
                    {{"general.identificacion" | translate}}
                  </a>
                </h3>
              </td>
              <td class="total">{{parametro.value}}</td>
            </tr>
            <tr *ngIf="parametro.key == 'referencia'">
              <td class="text-left">
                <h3>
                  <a target="_blank" href="#">
                    {{"general.referencia" | translate}}
                  </a>
                </h3>
              </td>
              <td class="total">{{parametro.value}}</td>
            </tr>

            </tbody>
          </table>
          <div class="notices">
            <div>{{"pago.infoTitulo" | translate}}</div>
            <div class="notice">{{"pago.infoTexto" | translate}}</div>
          </div>
        </main>
        <hr>
      </div>
    </div>
    <div class="p-3 toolbar hidden-print">
      <div class="text-left">
        <button (click)="imprimir('printSectionId')" type="button" class="btn btn-success btn-sm mr-1"><i
          class="fa fa-print"></i> {{"pago.imprimir" | translate}}</button>
        <button (click)="descargar('printSectionId')" type="button" class="btn btn-secondary btn-sm"><i
          class="fa fa-file-pdf-o"></i> {{"pago.descargar" | translate}}</button>
      </div>
    </div>
  </div>
</div>
