.modal-dialog {
  max-width: 900px !important; }
  .modal-dialog .modal-content {
    z-index: 9999 !important; }
  @media (min-width: 576px) {
    .modal-dialog .card-columns {
      column-count: 2; } }
  .modal-dialog .col-12.col-sm-8 {
    border-right: 2px solid #999; }
  .modal-dialog .entidad {
    background-color: #eee; }
    .modal-dialog .entidad a:hover {
      color: #0056b3;
      text-decoration: none; }
  .modal-dialog .entidad:hover {
    background-color: #e1e1e1; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  margin-bottom: 40px; }

.card-doc .card {
  border: 0px; }
.card-doc .img-doc {
  background-color: #fff0;
  border-radius: 8px; }
.card-doc .text-doc {
  border-radius: 8px;
  border-left: 4px solid #1e7e34;
  background-color: #eeeeee40; }

@media (max-width: 992px) {
  .card-doc .img-doc {
    margin-bottom: 20px; }
  .card-doc .text-doc {
    margin: 0 !important;
    border-top: 5px solid #1e7e34;
    border-left: none; } }
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white; }

.nav-bar-component nav {
  padding: .5rem 0rem; }
  .nav-bar-component nav .ppv, .nav-bar-component nav .formulario2_ovt, .nav-bar-component nav .pagament, .nav-bar-component nav .formulario2_ventanilla {
    color: #fff;
    border-radius: 5px;
    padding: .5rem !important; }
  .nav-bar-component nav .ppv {
    background-color: #2ab27b; }
  .nav-bar-component nav .formulario2_ovt {
    background-color: #5f849a; }
  .nav-bar-component nav .pagament {
    display: none !important; }
  .nav-bar-component nav .formulario2_ventanilla {
    background-color: #bf5329; }
.nav-bar-component .navbar {
  border-bottom: 3px solid black; }
  .nav-bar-component .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    padding: 0rem .0rem; }

.mod1mod2 .alert-danger {
  background-color: #ffffff00; }
.mod1mod2 .no-ico.is-invalid {
  background-image: none !important; }

.mod3 .alert-danger {
  background-color: #ffffff00; }
.mod3 .no-ico.is-invalid {
  background-image: none !important; }

#invoice {
  padding: 30px; }

.invoice {
  position: relative;
  background-color: #FFF;
  min-height: 200px;
  padding: 15px; }
  .invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #1e7e34; }
  .invoice .company-details {
    text-align: right; }
    .invoice .company-details .name {
      margin-top: 0;
      margin-bottom: 0; }
  .invoice .contacts {
    margin-bottom: 20px; }
    .invoice .contacts .email a {
      color: #1e7e34 !important; }
  .invoice .invoice-to {
    text-align: left; }
    .invoice .invoice-to .to {
      margin-top: 0;
      margin-bottom: 0; }
  .invoice .invoice-details {
    text-align: right; }
    .invoice .invoice-details .invoice-id {
      margin-top: 0;
      color: #1e7e34; }
  .invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px; }
  .invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #1e7e34; }
    .invoice main .notices .notice {
      font-size: 1.2em; }
  .invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px; }
    .invoice table td {
      padding: 15px;
      background: #eee;
      border-bottom: 1px solid #fff; }
      .invoice table td h3 {
        margin: 0;
        font-weight: 400;
        font-size: 1.2em; }
        .invoice table td h3 a {
          color: #212529; }
    .invoice table th {
      padding: 15px;
      background: #eee;
      border-bottom: 1px solid #fff;
      white-space: nowrap;
      font-weight: 400;
      font-size: 16px; }
    .invoice table .qty {
      text-align: right;
      font-size: 1.2em; }
    .invoice table .total {
      text-align: right;
      font-size: 1.2em;
      background: #1e7e34;
      color: #fff; }
    .invoice table .unit {
      text-align: right;
      font-size: 1.2em;
      background: #ddd; }
    .invoice table .no {
      color: #fff;
      font-size: 1.6em;
      background: #3989c6; }
    .invoice table tbody tr:last-child td {
      border: none; }
    .invoice table tfoot td {
      background: 0 0;
      border-bottom: none;
      white-space: nowrap;
      text-align: right;
      padding: 10px 20px;
      font-size: 1.2em;
      border-top: 1px solid #aaa; }
    .invoice table tfoot tr:first-child td {
      border-top: none; }
    .invoice table tfoot tr:last-child td {
      color: #3989c6;
      font-size: 1.4em;
      border-top: 1px solid #3989c6; }
    .invoice table tfoot tr td:first-child {
      border: none; }
  .invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0; }

@media print {
  .invoice {
    font-size: 11px !important;
    overflow: hidden !important; }
    .invoice footer {
      position: absolute;
      bottom: 10px;
      page-break-after: always; }
    .invoice > div:last-child {
      page-break-before: always; } }
#error {
 /*
* Base structure
*/ }
  #error .btn-secondary,
  #error .btn-secondary:hover,
  #error .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */ }
  #error .container-dark {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); }
  #error .cover-container {
    max-width: 42em; }
  #error .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  @media (min-width: 768px) {
    #error .bd-placeholder-img-lg {
      font-size: 3.5rem; } }

/* You can add global styles to this file, and also import other style files */
/*ESTRUCTURAR EL CSS*/
.puntero {
  cursor: pointer; }

.img-circle {
  border-radius: 100%;
  width: 150px; }

.card-title,
.card-text {
  color: black; }

.badge {
  margin-left: 5px; }

.btn-outline-success {
  margin-left: 5px; }

.img-thumb {
  width: 50px;
  height: 50px; }

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  clear: both; }

.custom-select-sm {
  background-color: rgba(255, 0, 0, 0);
  border: none; }

.jumbotron {
  background-color: #fff; }
