<title>{{this.title}}</title>
<app-loading *ngIf="_dataService.loading" class="m-5"></app-loading>

<div *ngIf="!_dataService.loading">
  <div *ngIf="this._dataService.ayuntamiento['id']">
    <app-navbar></app-navbar>
    <div class="container">
      <app-message></app-message>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!this._dataService.ayuntamiento['id']">
    <app-error></app-error>
  </div>
</div>
