<div class="container nav-bar-component mb-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="[this._dataService.origen,'home']">
      <img *ngIf="this._dataService.ayuntamiento['img']" [src]="this._dataService.ayuntamiento['img']['mdpi'] | imageNav" width="30" height="30" class="d-inline-block align-top" alt="">
      <span *ngIf="this._dataService.ayuntamiento['idioma']">{{this._dataService.ayuntamiento['idioma'][this._dataService.activeLang]['nombre_ayuntamiento'] | uppercase}}</span>
    </a>
    <span class="col-form-label mr-3  {{this._dataService.origen}}" translate>{{this._dataService.textoorigen}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ml-auto">
        <span for="idioma" class="col-form-label mr-3">{{ 'general.idioma' | translate }} </span>
        <button
          *ngFor="let idioma of this._dataService.idiomas"
          (click)="this._dataService.cambiarLenguaje(idioma.value)"
          class="btn  btn-sm mr-2"
          [ngClass]="{'btn-success': this._dataService.activeLang === idioma.value}"
        ><img class="img-fluid" src="/assets/img/{{idioma.value}}.png" width="30" height="30"/> </button>
      </div>
    </div>
  </nav>
</div>

