<app-loading *ngIf="loadingDoc" class="m-5"></app-loading>
<div *ngIf="!loadingDoc && documento" class="animated fadeIn">
  <div class="mt-5 mb-5">
    <div class="container">
      <h3 class="display-5" *ngIf="documento.idiomas[this._dataService.activeLang]">{{documento.idiomas[this._dataService.activeLang].nombre_doc}}</h3>
      <p class="lead" *ngIf="documento.idiomas[this._dataService.activeLang]">{{documento.idiomas[this._dataService.activeLang].descripcion_doc}}</p>
    </div>
  </div>
  <div class="card-doc">
    <div class="card float-left puntero col-md-12">
      <div class="row no-gutters m-3">
        <div class="col-lg-4">
          <img *ngIf="documento.idiomas[this._dataService.activeLang]" [src]="documento.idiomas[this._dataService.activeLang].img_doc | noimage" class="pl-4 pr-4 card-img" alt="...">
        </div>
        <div class="col-lg-8 text-doc">
          <div [ngSwitch]="documento.modalidad_id">
            <mod1y2Form [idDoc]=documento.id *ngSwitchCase="1" (loadingValidacion)="loadingDoc = $event"></mod1y2Form>
            <mod1y2Form [idDoc]=documento.id *ngSwitchCase="2" (loadingValidacion)="loadingDoc = $event"></mod1y2Form>
            <mod3Form [idDoc]=documento.id *ngSwitchCase="3" (loadingValidacion)="loadingDoc = $event"></mod3Form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup [sw]="2"></app-popup>
