.card-doc{
    .card{
      border: 0px;
    }
    .img-doc{
      background-color: #fff0;
      border-radius: 8px;
    }
    .text-doc{
      border-radius: 8px;
      border-left: 4px solid $color-primary;
      background-color: #eeeeee40;
    }

}
@media (max-width:992px){
  .card-doc{
    .card{

    }
    .img-doc{
      margin-bottom: 20px;
    }
    .text-doc{
      margin: 0 !important;
      border-top: 5px solid $color-primary;
      border-left: none;
    }

  }

}
