.nav-bar-component{
  nav{
    padding: .5rem 0rem;
      .ppv,.formulario2_ovt,.pagament,.formulario2_ventanilla{
        color: #fff;
        border-radius: 5px;
        padding: .5rem !important;
    }
      .ppv{
        background-color: $color-success;      
      }
      .formulario2_ovt{
        background-color: $color-info-dark;      
      }
      .pagament{
        display: none !important;
      }
      .formulario2_ventanilla{
        background-color: $color-danger;      
      }
    
  }
  .navbar{
    border-bottom: 3px solid black;
    .navbar-toggler {
      color: rgba(0,0,0,.5);
      border-color: #fff;
      padding: 0rem .0rem;
    }

  }
}
