<div id="error" class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 mt-5 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Ha ocurrido un error</h3>
      </div>
    </header>
    <main class="px-3">
      <img src="assets/img/Logo-Texto-Blanco-300x300.png" width="200" height="200" class="d-inline-block align-top"
           alt="">
      <p class="lead">Pongase en contacto no nuestro servicio de informatica a traves de correo electronico </p>
    </main>
  </div>
</div>
