<div *ngIf="sw" [ngSwitch]="sw">

  <!-- POP UP SOLICITUD DATOS TELÉFONO-EMAIL -->
  <div *ngSwitchCase="2">
    <!-- Button trigger modal -->
    <button type="button" id="boton_popup" style="display: none" data-toggle="modal" data-target="#popUpForm">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="popUpForm" tabindex="-1" role="dialog" aria-labelledby="popUpFormLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form autocomplete="off" [formGroup]="forma" (ngSubmit)="sendFormPopUp(this._dataService.documento['id'],$event)">
          <div class="modal-header">
            <h5 class="modal-title" id="popUpFormLabel">{{ 'popup.metodoNotificacion' | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" (click)="deleteValue()" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group row">
              <label class="col-sm-12 col-form-label" for="type">Notificar via</label>
              <div class="col-sm-12">
                <select formControlName="type" id="type" class="form-control form-control-sm no-ico"
                        [class.is-invalid]="selectTypeValido" (change)="changeDataForm($event)" >
                  <option  value="telefono">Telefono</option>
                  <option value="email">Email</option>
                </select>

                <!--<ng-select2 [width]="300" [data]="this.getEntidades()" formControlName="entidad" id="entidad" [class.is-invalid]="entidadNoValido"></ng-select2>-->

                <!-- Control de errores de la entidad emisora-->
                <small *ngIf="selectTypeValido" class="text-danger">
                  Seleccione un modo de notificacion
                </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">

                <input class="form-control form-control-sm"
                       type="text"
                       placeholder="{{this.forma.get('type').value}}"
                       formControlName="data"
                       [class.is-invalid]="typeNoValido">
                <small *ngIf="typeNoValido" class="text-danger">
                  {{this.mesajeError}}
                </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label>
                  <input type="checkbox" name="isActive" formControlName="check" (click)="activedButton($event)">
                  Selecciona por que no eres un robot
                </label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="deleteValue()" >Cerrar</button>

            <!--TODO HAY DESHABILITAR EL BOTÓN DESDE EL INICIO DE LA CARGA DEL POPUP-->
            <button
              type="submit"
            [disabled]="!forma.valid || loadSendPopUp"
              class="btn btn-success btn-sm">
              <i
                [ngClass]="{'mr-2 fa fa-refresh fa-spin':loadSendPopUp}">
              </i>
              <span *ngIf="!loadSendPopUp">Enviar</span>
              <span *ngIf="loadSendPopUp">Validando campos</span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- POP UP ENTIDADES BANCARIAS -->

  <div *ngSwitchCase="1">
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" [attr.data-target]="'#modal' + d.docs_id">
      {{ 'general.entrar' | translate }}
    </button>
    <div class="modal animated fadeIn fade" id="modal{{d.docs_id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-title mx-auto" id="modal{{d.docs_id}}div">{{ 'popup.metodoPago' | translate }}</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-12 col-sm-8">
                    <p>{{ 'popup.infoPago' | translate }}</p>
                    <div class="card-columns mt-5">
                      <div (click)="redirectLocation(entidad.web)" class="entidad card text-center p-1 pt-3" *ngFor="let entidad of d.entidades" [title]="entidad.nombre">
                        <div *ngIf="entidad.img_logo; else elseBlock">
                          <img class="card-img-top" [src]="entidad.img_logo | imageNav" [alt]="entidad.nombre" style="height: 30px !important;width: auto !important;">
                        </div>
                        <ng-template #elseBlock>
                          <span>{{entidad.nombre | maxtext:20 }}</span>
                        </ng-template>
                        <div class="card-body p-1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <h5 class="modal-title mb-4">
                      {{ 'popup.pagoTarjeta' | translate }}
                    </h5>
                    <p class="card-text">
                      {{ 'popup.pagoConRedsys' | translate }}
                    </p>
                    <button type="button" class="btn btn-success btn-sm btn-block" data-dismiss="modal"
                            aria-label="Close"
                            (click)="verDocumento(d.docs_id)">
                      <i class="fas fa-credit-card fa-5x"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{ 'general.cerrar' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
