.modal-dialog{
  max-width: 900px !important;
    .modal-content{
        z-index: 9999 !important;
    }
  .card-columns {
    @media (min-width: 576px) {
      column-count: 2;
    }
  }
  .col-12.col-sm-8{
    border-right: 2px solid #999
  }
  .entidad{
    background-color: #eee;
    a{

    }
    a:hover {
      color: #0056b3;
      text-decoration: none;
    }
  }
  .entidad:hover{
    background-color: #e1e1e1;
  }
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
