// Body
$body-bg: #f5f8fa;

// Borders

// Brands
$color-primary: #1e7e34;
$color-primary-dark: #2e6da4;
$color-info: #8eb4cb;
$color-info-dark: #5f849a;
$color-success: #2ab27b;
$color-warning: #cbb956;
$color-danger:  #bf5329;

// Typography
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #eee;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($color-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
