// Variables
@import "variables";
@import "elements";

// Bootstrap
@import "modulos/home";
@import "modulos/documento";
@import "modulos/loading";
@import "modulos/card-doc";
@import "modulos/footer";
@import "modulos/navbar";
@import "modulos/mod1mod2";
@import "modulos/mod3";
@import "modulos/pago";
@import "modulos/error";




/* You can add global styles to this file, and also import other style files */

/*ESTRUCTURAR EL CSS*/
.puntero {
  cursor: pointer;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
}

.card-title,
.card-text {
  color: black;
}

.badge {
  margin-left: 5px;
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 50px;
  height: 50px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  clear: both;
}

.custom-select-sm {
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.jumbotron {
  background-color: #fff;
}
