.modal-dialog {
  max-width: 900px !important; }
  .modal-dialog .modal-content {
    z-index: 9999 !important; }
  @media (min-width: 576px) {
    .modal-dialog .card-columns {
      column-count: 2; } }
  .modal-dialog .col-12.col-sm-8 {
    border-right: 2px solid #999; }
  .modal-dialog .entidad {
    background-color: #eee; }
    .modal-dialog .entidad a:hover {
      color: #0056b3;
      text-decoration: none; }
  .modal-dialog .entidad:hover {
    background-color: #e1e1e1; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  margin-bottom: 40px; }

.card-doc .card {
  border: 0px; }
.card-doc .img-doc {
  background-color: #fff0;
  border-radius: 8px; }
.card-doc .text-doc {
  border-radius: 8px;
  border-left: 4px solid #1e7e34;
  background-color: #eeeeee40; }

@media (max-width: 992px) {
  .card-doc .img-doc {
    margin-bottom: 20px; }
  .card-doc .text-doc {
    margin: 0 !important;
    border-top: 5px solid #1e7e34;
    border-left: none; } }
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white; }

.nav-bar-component nav {
  padding: .5rem 0rem; }
  .nav-bar-component nav .ppv, .nav-bar-component nav .formulario2_ovt, .nav-bar-component nav .pagament, .nav-bar-component nav .formulario2_ventanilla {
    color: #fff;
    border-radius: 5px;
    padding: .5rem !important; }
  .nav-bar-component nav .ppv {
    background-color: #2ab27b; }
  .nav-bar-component nav .formulario2_ovt {
    background-color: #5f849a; }
  .nav-bar-component nav .pagament {
    display: none !important; }
  .nav-bar-component nav .formulario2_ventanilla {
    background-color: #bf5329; }
.nav-bar-component .navbar {
  border-bottom: 3px solid black; }
  .nav-bar-component .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    padding: 0rem .0rem; }

.mod1mod2 .alert-danger {
  background-color: #ffffff00; }
.mod1mod2 .no-ico.is-invalid {
  background-image: none !important; }

/* You can add global styles to this file, and also import other style files */
/*ESTRUCTURAR EL CSS*/
.puntero {
  cursor: pointer; }

.img-circle {
  border-radius: 100%;
  width: 150px; }

.card-title,
.card-text {
  color: black; }

.badge {
  margin-left: 5px; }

.btn-outline-success {
  margin-left: 5px; }

.img-thumb {
  width: 50px;
  height: 50px; }

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  clear: both; }

.custom-select-sm {
  background-color: rgba(255, 0, 0, 0);
  border: none; }

.jumbotron {
  background-color: #fff; }

/*# sourceMappingURL=app.css.map */
