<div class="m-3 form-group mod1mod2">
  <form [formGroup]="formMod1y2" (ngSubmit)="save($event,idDoc)">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="codBar">{{ 'general.codigoBarras' | translate }}</label>
      <!-- Control de errores del código de barras -->
      <div class="col-sm-1">
        <input type="checkbox" formControlName="cbCodBar" ivalue="false" class="ml-3">
      </div>
      <div class="col-sm-8">
        <input formControlName="codBar" id="codBar" (keypress)="isNumberOnly($event)" type="text"
               class="form-control form-control-sm" [class.is-invalid]="codBarNoValido">
        <small *ngIf="codBarNoValido" class="form-text alert-danger" role="alert" translate> {{getErrorMessages('codBar')}}
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="entidad">{{ 'general.entidad' | translate }}</label>
      <div class="col-sm-8">
        <select formControlName="entidad" id="entidad" class="form-control form-control-sm no-ico"
                [class.is-invalid]="entidadNoValido">
          <option *ngFor="let data of this.getEntidades()" [value]="data.id">{{data.id}}</option>
        </select>

        <!--<ng-select2 [width]="300" [data]="this.getEntidades()" formControlName="entidad" id="entidad" [class.is-invalid]="entidadNoValido"></ng-select2>-->

        <!-- Control de errores de la entidad emisora-->
        <small *ngIf="entidadNoValido" class="form-text alert-danger" role="alert" translate>
          {{getErrorMessages('entidad')}}
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="referencia">{{ 'general.referencia' | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="referencia" id="referencia" (keypress)="isNumberOnly($event)" type="text"
               class="form-control form-control-sm" [class.is-invalid]="referenciaNoValido">
        <!-- Control de errores de la referencia -->
        <small *ngIf="referenciaNoValido"
               class="form-text alert-danger" role="alert" translate>
          {{getErrorMessages('referencia')}}
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="identificacion">{{ 'general.identificacion' | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="identificacion" id="identificacion" (keypress)="isNumberOnly($event)" type="text"
               class="form-control form-control-sm" [class.is-invalid]="identificacionNoValido">
        <!-- Control de errores de la referencia -->
        <small *ngIf="identificacionNoValido"
               class="form-text alert-danger" role="alert" translate>
          {{getErrorMessages('identificacion')}}
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="importe">{{ 'general.importe' | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="importe" id="importe" type=text class="form-control form-control-sm"
               [class.is-invalid]="importeNoValido" (blur)="formatCurrencyValue($event)">
        <small *ngIf="importeNoValido"
               class="form-text alert-danger" role="alert" translate>
          {{getErrorMessages('importe')}}</small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 text-right">
        <input type="hidden" formControlName="idAyuntamiento" id="idAyuntamiento">
        <button
          type="submit"
          [disabled]="!formMod1y2.valid || loadSend"
          class="btn btn-success btn-sm">
          <i
            [ngClass]="{'mr-2 fa fa-refresh fa-spin':loadSend}">
          </i>
          <span *ngIf="!loadSend">{{ 'general.enviar' | translate }}</span>
          <span *ngIf="loadSend">{{ 'general.validarCampos' | translate }}</span>
        </button>
      </div>
    </div>
  </form>
</div>
