<div class="card-doc mb-6">
    <div class="card float-left puntero col-md-6" *ngIf="doc" >
      <div class="row no-gutters m-3">
        <div class="col-lg-4 img-doc">
          <img [src]="doc['img_doc'] | noimage" class="card-img" alt="...">
        </div>
        <div class="col-lg-7 text-doc ml-3">
          <div class="card-body p-3">
            <h5 class="">{{doc['nombre_doc'] | maxtext:40 }}</h5>
            <p class="">{{ doc['descripcion_doc'] | maxtext:40 }}</p>
            <div *ngIf="doc['entidades']" [ngSwitch]="doc['entidades'].length">
              <button *ngSwitchCase="0" type="button" class="btn btn-success btn-sm" (click)="verDocumento(doc)" >Entrar</button>
              <app-popup *ngSwitchDefault   [d]="doc" [sw]="1"></app-popup>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
