<div *ngIf="!_dataService.loading && _dataService.documentos">
  <div class="jumbotron jumbotron-fluid animated fadeInLeft m-0">
    <div class="container">
      <h1 class="display-4">{{ 'home.textoPrincipal' | translate }}</h1>
      <p class="lead">{{ 'home.textoSecundario' | translate }}</p>
    </div>
  </div>
  <div>
    <app-card-doc [doc]="doc" *ngFor="let doc of _dataService.documentos" class="animated fadeIn fast"></app-card-doc>
  </div>
</div>
