<div class="m-3 form-group mod3">
  <form [formGroup]="formMod3" (ngSubmit)="save($event, idDoc)">
    <input type="hidden" formControlName="idAyuntamiento" id="idAyuntamiento">

    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="codBar">{{"general.codigoBarras" | translate}}</label>
      <div class="col-sm-1">
        <input type="checkbox" formControlName="cbCodBar" ivalue="false" class="ml-3">
      </div>
      <div class="col-sm-8">
        <input formControlName="codBar" id="codBar" (keypress)="isNumberOnly($event)" (blur)="salidaInput('codBar')"
               type="text" class="form-control form-control-sm">
        <!-- Control de errores del código de barras -->
        <small *ngIf="formMod3.get('codBar').errors && formMod3.get('codBar').touched"
               class="form-text alert-danger"
               role="alert">
          {{getErrorMessages('codBar')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="entidad">{{"general.entidad" | translate}}</label>
      <div class="col-sm-8">
        <select formControlName="entidad" id="entidad" class="form-control form-control-sm">
          <option value=""></option>
          <option value="46551">46551</option>
          <option value="465515">465515</option>
          <option value="4697889">4697889</option>
        </select>
        <!-- Control de errores de la entidad emisora-->
        <small *ngIf="formMod3.get('entidad').errors && formMod3.get('entidad').touched" class="form-text alert-danger"
               role="alert"> {{getErrorMessages('entidad')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="numJustificante">{{"mod3.nJustificante" | translate}}</label>
      <div class="col-sm-8">
        <input formControlName="numJustificante" id="numJustificante" type="text"
               class="form-control form-control-sm" (keypress)="isNumberOnly($event)"
               (blur)="salidaInput('numJustificante')">
        <small *ngIf="formMod3.get('numJustificante').errors && formMod3.get('numJustificante').touched"
               class="form-text alert-danger" role="alert">{{getErrorMessages('numJustificante')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="importe">{{"general.importe" | translate}}</label>
      <div class="col-sm-8">
        <input formControlName="importe" id="importe" type=text class="form-control form-control-sm">
        <small *ngIf="formMod3.get('importe').errors && formMod3.get('importe').touched"
               class="form-text alert-danger" role="alert">{{getErrorMessages('importe')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="tipoDoc">{{"mod3.tipoDocumento" | translate}}</label>
      <div class="col-sm-8">
        <select formControlName="tipoDoc" id="tipoDoc" type="text" class="form-control form-control-sm"
                (change)="onChange('tipoDoc')">
          <option value="N">{{"general.nif" | translate| uppercase }}</option>
          <option value="C">{{"general.cif" | translate | uppercase}}</option>
          <option value="P">{{"general.pasaporte" | translate | uppercase}}</option>
          <option value="X">{{"general.nie" | translate | uppercase}}</option>
          <option value="O">{{"general.otros" | translate | uppercase}}</option>
        </select>
        <small *ngIf="formMod3.get('tipoDoc').errors && formMod3.get('tipoDoc').touched"
               class="alert alert-danger" role="alert">{{getErrorMessages('tipoDoc')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="numDoc">{{"mod3.numeroDocumento" | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="numDoc" id="numDoc" type=text class="form-control form-control-sm"
               (blur)="salidaInput('numDoc')">

        <small *ngIf="formMod3.get('numDoc').errors && formMod3.get('numDoc').touched"
               class="alert alert-danger" role="alert">{{getErrorMessages('numDoc')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="fecDevengo">{{"mod3.fDevengo" | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="fecDevengo" id="fecDevengo" type=date class="form-control form-control-sm">
        <small *ngIf="formMod3.get('fecDevengo').errors && formMod3.get('fecDevengo').touched"
               class="alert alert-danger" role="alert">{{getErrorMessages('fecDevengo')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="expdiente">{{"mod3.expediente" | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="expediente" id="expdiente" type=text class="form-control form-control-sm">
        <small *ngIf="formMod3.get('expediente').errors && formMod3.get('expediente').touched"
               class="alert alert-danger" role="alert">{{getErrorMessages('expediente')}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="datoEspecifico">{{"mod3.datosEspecificos" | translate }}</label>
      <div class="col-sm-8">
        <input formControlName="datoEspecifico" id="datoEspecifico" type=text (keypress)="isNumberOnly($event)"
               class="form-control form-control-sm">
        <div class="col-sm-8">
          <small *ngIf="formMod3.get('datoEspecifico').errors && formMod3.get('datoEspecifico').touched"
                 class="alert alert-danger" role="alert">{{getErrorMessages('datoEspecifico')}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 text-right">
        <input type="hidden" formControlName="idAyuntamiento" id="idAyuntamiento">
        <button
          type="submit"
          class="btn btn-success btn-sm">
          {{"general.enviar" | translate}}
        </button>
      </div>
    </div>


  </form>
</div>
