<div *ngIf="_dataService.statusSerices">
  <div [ngClass]="_dataService.messageStyle" class="alert" role="alert">
    <h3>{{_dataService.messageTitle}}</h3>
    <p>{{_dataService.messageText}}</p>
  </div>
</div>
